/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    color: #23527c;
}

/* Header Styles */

.top-nav {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.top-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.top-nav li {
    margin-right: 20px;
}

.top-nav a {
    color: #fff;
}

.top-nav a:hover {
    color: #ccc;
}

/* Main Content Styles */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

section {
    background-color: #fff;
    padding: 2em;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

/* Experience Styles */

.experience-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.experience {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.experience-image {
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 5px 5px 0 0;
}

.experience-info {
    padding: 20px;
}

.experience-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.experience-info h4 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: normal;
    color: #666;
}

.experience-info p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #666;
}

.experience-info a {
    text-decoration: none;
    color: #4CAF50;
    font-size: 16px;
    font-weight: bold;
}

.experience-info a:hover {
    color: #3e8e41;
}

/* Responsive design for smaller screens */
@media only screen and (max-width: 768px) {
    .experience-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 480px) {
    .experience-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Project Styles */
.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.project-image {
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    width: 100%;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.project-info {
    padding: 20px;
    flex-grow: 1;
}

.project-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.project-link {
    text-decoration: none;
    color: #4CAF50;
}

.project-link:hover {
    color: #3e8e41;
}

.project-link svg {
    margin-left: 10px;
    vertical-align: middle;
}

.project-description {
    padding: 20px;
}

.project-description h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.project-description p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #666;
}

.project-description ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.project-description ul li {
    font-size: 16px;
    margin-bottom: 10px;
    color: #666;
}

.project-description ul li::before {
    content: "\2022";
    font-size: 16px;
    color: #4CAF50;
    margin-right: 10px;
}

.project-description .project-tags {
    margin-top: 20px;
}

.project-description .project-tags ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.project-description .project-tags ul li {
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #666;
}

.project-description .project-tags ul li:hover {
    background-color: #4CAF50;
    color: #fff;
}

.project-description .project-skills {
    margin-top: 20px;
}

.project-description .project-skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.project-description .project-skills ul li {
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #666;
}

.project-description .project-skills ul li:hover {
    background-color: #4CAF50;
    color: #fff;
}

.project-description .project-software {
    margin-top: 20px;
}

.project-description .project-software ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.project-description .project-software ul li {
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #666;
}

.project-description .project-software ul li:hover {
    background-color: #4CAF50;
    color: #fff;
}

.project-description .project-images {
    margin-top: 20px;
}

.project-description .project-images img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 20px;
}

.project-description .project-images img:hover {
    opacity: 0.8;
}

.project-image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    height: 100vh; /* Set the height to the full viewport height */
}

.project-image-box {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%; /* Set the height to 100% of the parent */
}

.project-image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.project-image-box h4 {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

/* Responsive design for smaller screens */
@media only screen and (max-width: 768px) {
    .project-image-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.project-image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    height: 100vh; /* Set the height to the full viewport height */
}

.project-image-box {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 50vh; /* Set the height to 50% of the viewport height */
}

.project-image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.project-image-box h4 {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

/* Responsive design for smaller screens */
@media only screen and (max-width: 768px) {
    .project-image-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .project-image-box {
        height: 33.33vh; /* Set the height to 33.33% of the viewport height */
    }
}

@media only screen and (max-width: 480px) {
    .project-image-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .project-image-box {
        height: 50vh; /* Set the height to 50% of the viewport height */
    }
}


/* Contact Styles */

.contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.contact-info {
    padding: 20px;
}

.contact-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-form {
    padding: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button[type="submit"]:hover {
    background-color: #3e8e41;
}

/* Back to Top Button Styles */

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.back-to-top:hover {
    background-color: #444;
}
